@charset "UTF-8";
#banner, #main, #bottom, footer {
  width: 1190px;
  margin: 0 auto; }

/*--link导航下尖角样式--*/
/*--遮罩层--*/
/*-------------banner--------------*/
.banner-wrap {
  width: 100%;
  margin: 0 auto; }

#banner {
  height: 471px;
  position: relative; }

#btn span {
  display: inline-block;
  width: 50px;
  height: 80px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  line-height: 80px;
  top: 50%;
  margin-top: -40px;
  cursor: pointer; }
  #btn span:nth-of-type(1) {
    left: 200px; }
  #btn span:nth-of-type(2) {
    right: 200px; }

#pic-bg {
  position: absolute;
  top: 0;
  left: -365px; }
  #pic-bg li {
    position: absolute; }

#slider {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1190px;
  height: 471px; }
  #slider #pic {
    width: 1190px;
    height: 471px;
    position: absolute; }
    #slider #pic li {
      width: 1190px;
      height: 470px;
      position: absolute; }
      #slider #pic li img {
        width: 1190px;
        height: 470px; }

#slider > #navList {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -85px; }
  #slider > #navList li {
    float: left;
    width: 30px;
    height: 8px;
    margin: 2px;
    background: #211616;
    cursor: pointer; }
  #slider > #navList .select {
    background: #d90048;
    transition: 0.3s; }

#partNav > .partAside {
  width: 200px;
  color: #fff;
  float: left;
  position: absolute;
  top: 0;
  left: 0; }
  #partNav > .partAside > li {
    background: #333;
    line-height: 46px;
    height: 46px;
    padding-left: 20px;
    border-bottom: 1px solid #515151; }
    #partNav > .partAside > li:hover {
      background: #d90048; }
    #partNav > .partAside > li > a {
      color: #fff; }
      #partNav > .partAside > li > a:nth-of-type(1) {
        font-family: iconfont;
        padding-right: 8px; }
      #partNav > .partAside > li > a:nth-of-type(2) {
        font-size: 14px;
        padding-right: 8px;
        border-right: 1px solid #999; }
      #partNav > .partAside > li > a:nth-of-type(3) {
        padding-left: 8px; }
        #partNav > .partAside > li > a:nth-of-type(3):hover {
          text-decoration: underline; }

#partNav > .navConBox {
  display: none;
  width: 305px;
  background: rgba(51, 51, 51, 0.95);
  position: absolute;
  padding: 0 15px;
  top: 0;
  left: 200px; }
  #partNav > .navConBox li {
    height: 54px;
    line-height: 24px;
    border-bottom: 1px dashed #515151; }
    #partNav > .navConBox li a {
      color: #fff;
      padding: 0 6px; }
      #partNav > .navConBox li a:hover {
        color: #d90048; }

#banner .banner-img {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  width: 200px;
  height: 470px; }
  #banner .banner-img:hover {
    transform: translate(-4px);
    transition: 0.5s; }

/*-------------main--------------*/
/*--标题部分--*/
.m-tit {
  display: block;
  height: 60px;
  font-family: "宋体";
  width: 380px; }
  .m-tit h6 {
    float: left;
    line-height: 60px;
    font-size: 30px;
    font-weight: bold;
    color: #333; }
    .m-tit h6 b {
      color: #e50150; }
  .m-tit span {
    float: left;
    padding-left: 10px;
    height: 36px;
    font-size: 18px;
    margin: 11px;
    line-height: 18px;
    color: #888;
    width: 100px;
    border-left: 1px solid #ccc; }

#main {
  min-height: 800px;
  height: auto !important;
  height: 800px;
  background: #fff;
  overflow: hidden; }
  #main .main-part1 {
    clear: both;
    margin-top: 28px;
    height: 328px; }
  #main .special {
    height: 638px; }

#main > a {
  display: block;
  margin: 30px 0 24px 0; }

#main > div {
  height: 432px;
  margin-bottom: 20px; }

/*--彩妆专场--*/
#main .main-part1 {
  position: relative; }

#main .main-part1 > div {
  width: 915px;
  height: 328px; }

#main .main-part1 > div > p {
  position: absolute;
  top: 0;
  width: 909px;
  line-height: 50px;
  font-size: 16px; }
  #main .main-part1 > div > p span {
    position: relative;
    float: left;
    text-align: center;
    width: 303px;
    border-bottom: 5px solid #333; }
    #main .main-part1 > div > p span:last-child {
      font-weight: bold;
      border-color: #d90048; }
      #main .main-part1 > div > p span:last-child > b {
        display: block; }
    #main .main-part1 > div > p span b {
      display: none;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -4px;
      border-bottom: 7px solid #d90048;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent; }

#main .main-part1 > div > ul {
  position: absolute;
  top: 65px; }
  #main .main-part1 > div > ul li {
    background: #fff;
    width: 220px;
    height: 260px;
    float: left;
    margin-right: 7px;
    border: 1px solid #eee; }
    #main .main-part1 > div > ul li:last-child {
      margin-right: 0; }
    #main .main-part1 > div > ul li img {
      text-align: center; }

#main .main-part1 > a {
  position: absolute;
  width: 270px;
  height: 300px;
  top: 25px;
  right: 0; }
  #main .main-part1 > a div {
    top: 0;
    width: 270px;
    height: 300px;
    position: absolute;
    display: none;
    background: rgba(255, 255, 255, 0.2); }
  #main .main-part1 > a:hover div {
    display: block; }

/*--商场同款--*/
#main .special > div {
  width: 1188px;
  height: 575px;
  border: 1px solid #eee;
  margin-top: 0;
  position: relative; }
  #main .special > div > a {
    position: absolute;
    float: left;
    top: 10px;
    left: 10px; }
    #main .special > div > a > div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      background: rgba(255, 255, 255, 0); }
      #main .special > div > a > div:hover {
        background: rgba(255, 255, 255, 0.2);
        transition: 0.3s; }

#main .special > div > .slide-box {
  margin: 0;
  position: absolute;
  top: 0;
  left: 360px;
  width: 830px;
  height: 571px; }
  #main .special > div > .slide-box > p {
    height: 45px;
    font-size: 16px;
    border-bottom: 3px solid #333; }
    #main .special > div > .slide-box > p > span {
      position: relative;
      float: left;
      text-align: center;
      width: 100px;
      line-height: 45px;
      box-sizing: border-box;
      border-bottom: 3px solid #333; }
      #main .special > div > .slide-box > p > span:first-child {
        font-weight: bold;
        border-color: #d90048; }
        #main .special > div > .slide-box > p > span:first-child > b {
          display: block; }
      #main .special > div > .slide-box > p > span > b {
        display: none;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: 0px;
        border-bottom: 5px solid #d90048;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent; }
  #main .special > div > .slide-box > ul {
    background: #fff;
    margin-top: 5px;
    position: absolute;
    top: 46px;
    width: 826px;
    height: 524px; }
    #main .special > div > .slide-box > ul li {
      float: left;
      margin: 5px 2px; }
      #main .special > div > .slide-box > ul li > a {
        width: 100%;
        height: 100%;
        display: block;
        position: relative; }
        #main .special > div > .slide-box > ul li > a div {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin: 0;
          background: rgba(255, 255, 255, 0); }
          #main .special > div > .slide-box > ul li > a div:hover {
            background: rgba(255, 255, 255, 0.2);
            transition: 0.3s; }
    #main .special > div > .slide-box > ul:nth-of-type(1) {
      z-index: 5; }
  #main .special > div > .slide-box > .m2-list2 li {
    width: 180px;
    height: 225px;
    border: 1px solid #eee;
    margin: 15px 11px; }

/*--时尚名品~可爱婴童--*/
#main .m-content {
  margin: 0;
  width: 1188px;
  height: 378px; }

#main .m-content div:nth-of-type(1) {
  width: 228px;
  height: 370px;
  border: 1px solid #eee;
  float: left;
  margin: 3px; }
  #main .m-content div:nth-of-type(1) > p > a {
    float: left;
    text-align: center;
    line-height: 30px;
    margin: 4px;
    width: 65px;
    height: 30px;
    border: 1px solid #eee;
    background: #fff; }
    #main .m-content div:nth-of-type(1) > p > a:hover {
      background: #d90048;
      color: #fff; }
  #main .m-content div:nth-of-type(1) > .smooth {
    width: 200px;
    height: 145px;
    background: #f2f2f2;
    margin: 20px 10px;
    position: relative;
    border-top: 1px dashed #969696; }
    #main .m-content div:nth-of-type(1) > .smooth > span {
      position: absolute;
      display: block;
      top: 50%; }
      #main .m-content div:nth-of-type(1) > .smooth > span:hover {
        cursor: pointer; }
      #main .m-content div:nth-of-type(1) > .smooth > span:nth-of-type(1) {
        left: 5px;
        border-right: 5px solid #888;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent; }
      #main .m-content div:nth-of-type(1) > .smooth > span:nth-of-type(2) {
        right: 5px;
        border-left: 5px solid #888;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent; }
    #main .m-content div:nth-of-type(1) > .smooth > div {
      position: absolute;
      top: 15px;
      left: 11px;
      width: 170px;
      height: 114px;
      overflow: hidden; }
      #main .m-content div:nth-of-type(1) > .smooth > div > ul {
        width: 520px; }
        #main .m-content div:nth-of-type(1) > .smooth > div > ul > li {
          width: 80px;
          height: 50px;
          margin: 2px;
          float: left; }
          #main .m-content div:nth-of-type(1) > .smooth > div > ul > li > a {
            float: left; }
            #main .m-content div:nth-of-type(1) > .smooth > div > ul > li > a img {
              width: 80px;
              height: 50px; }

#main .m-content div:nth-of-type(2) {
  width: 390px;
  height: 370px;
  border: 1px solid #eee;
  float: left;
  margin: 3px;
  position: relative; }
  #main .m-content div:nth-of-type(2) > span {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -27px;
    display: inline-block;
    width: 28px;
    height: 55px;
    background: rgba(0, 0, 0, 0.6);
    font-size: 30px;
    color: #fff;
    line-height: 55px;
    text-align: center; }
    #main .m-content div:nth-of-type(2) > span:nth-of-type(1) {
      left: 0; }
    #main .m-content div:nth-of-type(2) > span:nth-of-type(2) {
      right: 0; }
  #main .m-content div:nth-of-type(2) > a {
    position: absolute;
    top: 0;
    left: 0; }
  #main .m-content div:nth-of-type(2) > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background: rgba(255, 255, 255, 0); }
    #main .m-content div:nth-of-type(2) > div:hover {
      background: rgba(255, 255, 255, 0.2);
      transition: 0.3s; }

#main .m-content div:nth-of-type(3) {
  width: 540px;
  height: 370px;
  float: left;
  margin: 3px 0 0 3px; }
  #main .m-content div:nth-of-type(3) > a {
    float: left;
    border: 1px solid #eee;
    margin: 5px 3px; }
    #main .m-content div:nth-of-type(3) > a > img {
      width: 260px;
      height: 170px; }

/*--final--*/
#main .final {
  height: 165px;
  border: 1px solid #eee; }
  #main .final > a {
    width: 390px;
    height: 165px;
    border-left: 1px solid #eee;
    overflow: hidden;
    display: inline-block;
    folat: left;
    position: relative; }
    #main .final > a > div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      background: rgba(255, 255, 255, 0); }
      #main .final > a > div:hover {
        background: rgba(255, 255, 255, 0.2);
        transition: 0.3s; }

#main {
  position: relative; }

#main > #fixedNav {
  z-index: 50;
  display: none;
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 45px;
  height: 540px; }
  #main > #fixedNav li {
    font-family: iconfont;
    width: 45px;
    height: 45px;
    background: #eee;
    margin: 6px 0;
    line-height: 45px;
    font-size: 22px;
    color: #666;
    text-align: center;
    position: relative;
    cursor: pointer; }
    #main > #fixedNav li:nth-of-type(10) {
      font-weight: bold;
      font-size: 16px; }
    #main > #fixedNav li span {
      padding: 8px 5px;
      font-size: 12px;
      line-height: 18px;
      width: 35px;
      height: 29px;
      position: absolute;
      top: 0;
      left: 0;
      display: none; }
    #main > #fixedNav li:hover span {
      background: #c00;
      color: #fff;
      display: block; }
  #main > #fixedNav .hover span {
    background: #c00;
    color: #fff;
    display: block; }

/*-------------bottom--------------*/
#bottom {
  height: 90px;
  background: #f7f7f7; }
  #bottom > div {
    float: left;
    padding-left: 45px;
    border-right: 1px solid #eee;
    width: 240px;
    padding-top: 20px;
    height: 70px; }
    #bottom > div b {
      font-family: iconfont;
      margin-right: 5px; }
    #bottom > div .font-style {
      font-size: 14px;
      color: #888888; }
    #bottom > div > div {
      float: left; }
      #bottom > div > div > b {
        font-size: 36px;
        color: #444; }
      #bottom > div > div:nth-of-type(1) {
        margin-top: 5px;
        display: inline-block;
        width: 50px; }
      #bottom > div > div:nth-of-type(2) {
        margin-left: 5px; }
        #bottom > div > div:nth-of-type(2) p:nth-of-type(1) {
          line-height: 28px;
          font-size: 16px; }
          #bottom > div > div:nth-of-type(2) p:nth-of-type(1) span {
            color: #e5004f; }
        #bottom > div > div:nth-of-type(2) p:nth-of-type(2) {
          font-size: 14px;
          color: #888; }

#bottom div:nth-of-type(1) {
  display: inline-block;
  width: 280px; }
  #bottom div:nth-of-type(1) p:nth-of-type(1) {
    font-size: 18px;
    color: #e5004f;
    line-height: 28px; }
    #bottom div:nth-of-type(1) p:nth-of-type(1) span {
      color: #666;
      font-size: 12px;
      margin-left: 8px; }

/*# sourceMappingURL=home.css.map */
