@charset "utf-8";
/*-------------样式重置---------------*/
body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{font-size:12px; font-family:"微软雅黑";}
input,a{outline:none;}

html{
  height:100%;
}
body{
  width:100%;
  height: 100%;
}

@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}


/*-------------top---------------*/
body #top{
  width: 100%;
  background: #eee;
  div{
    width: 1190px;
    margin: 0 auto;
    height: 34px;
  }
  p{
    line-height:34px;
    a{
      color: #666;
      b{
        display:inline-block;
        margin-left: 4px;
        border-top:5px solid #666;
        border-left:5px solid #eee;
        border-right:5px solid #eee;
      }
      &:hover{
        color:#d90048;
      }
    }
  }
  p:first-child{
    width:320px;
    float:left;
    a{
      padding: 0 10px;
      border-right: 1px solid #ccc;
      span{
        font-family:iconfont;
        margin-right:4px;
        font-size: 20px;
        color: #3c3c3c;
      }
    }
    a:last-child{
      border-right: 0;
    }
  }
  p:last-child{
    width:540px;
    float:right;
    a{
      padding:0 13px 0 12px;
      border-right: 1px solid #ccc;
    }
    a:nth-of-type(1){
      border:0;
      padding-right:0;
    }
    a:last-child{
      border:0;
      padding:0 0 0 12px;
    }
  }
}

/*-------------header---------------*/
body header{
  width: 100%;
  height:139px;
  background:#fff url(../images/header.jpg) no-repeat center 1px;
  padding-top:101px;
  position:relative;
}

body header>div{
  width: 1190px;
  margin: 0 auto;
  div{
    height:82px;
    h1{
      display:inline-block;
      width:224px;
      border-right:1px solid #efefef;
      float:left;
    }
    div:nth-of-type(1){
      width:120px;
      float:left;
    }
    div:nth-of-type(2){
      margin-left:100px;
      width: 520px;
      float:left;
      input{
        margin-top:20px;
        border:2px solid #323333;
        width:430px;
        padding-left:10px;
        height:30px;
        float:left;
      }
      p{
        clear:both;
        width:100%;
        padding-top:10px;
        a{
          margin-right:10px;
          color:#888888;
          &:hover{
            color:#e5004f;
            text-decoration:underline;
          }
        }
        a:last-child{
          margin:0;
          color:#e5004f;
        }
      }
    }
    div:nth-of-type(2)>a{
      margin-top:20px;
      width:45px;
      float:left;
      border:2px solid #323333;
      color:#fff;
      line-height:32px;
      text-align:center;
      font-size:30px;
      background:#323333;
      font-family:iconfont;
    }
    #cartcar{
      margin-top:20px;
      float:right;
      width:164px;
      height:38px;
      color:#fff;
      background:#323333;
      line-height:38px;
      text-align:center;
      font-size:14px;
      span{
        font-family:iconfont;
        margin-right:10px;
      }
      b{
        color:#d90048;
        margin:0 5px;
      }
      i{
        display:inline-block;
        margin-left: 6px;
        border-top:5px solid #999;
        border-left:5px solid #323333;
        border-right:5px solid #323333;
      }
    }
  }
  nav{
    float:left;
    a{
      float:left;
      line-height:37px;
      text-align:center;
      font-size:16px;
      padding:0 5px;
      margin: 0 15px;
      border-bottom:3px solid #fff;
      box-sizing: border-box;
      &:hover{
        border-color:#d90048;
        color:#d90048;
      }
    }
    a:first-child{
      border-bottom:3px solid #222;
      margin-left:0;
      width:200px;
      color:#fff;
      background:#222;
    }
  }
  .header-right{
    left:1050px;
    float:right;
    a{
      line-height:40px;
      text-align:center;
      font-size:16px;
      padding:0 5px;
      margin-left:10px;
      color:#666;
      font-size:14px;
      &:hover{
        color:#d90048;
      }
    }
    a:first-child{
      padding-right:20px;
      border-right:1px solid #666;
    }
  }
}
body header>div>nav{
  position:absolute;
  bottom:0;
}
body header>div>.header-right{
  position:absolute;
  bottom:0;
}
