.goods-content-wrap{
  background:#eeeeee;
  width:100%;
}
.goods-content{
  margin:0 auto;
  width:1190px;
  height:6000px;
  height:auto !important;
  min-height:1000px;
  background:#f4f4f4;
}
.link-list{
  line-height:46px;
  padding-left:20px;
  a{
    color:#666666;
    &:hover{
      color:#e5004f;
    }
  }
}


.good-info{
  height:543px;
  background:#fff;

  div:nth-of-type(1){
    position:relative;
    width:450px;
    height:540px;
    float:left;
    #pic-middle{
      width:300px;
      height:400px;
      border:1px solid red;
      margin:20px 0 0 70px;
      img{
        position:absolute;
        width:300px;
        height:400px;
      }
    }
    #pic-small{
      clear:both;
      float:left;
      width:300px;
      height:80px;
      border:1px solid red;
      margin:10px 0 10px 70px;
      overflow: hidden;
      ul{
        width:380px;
        li{
          float:left;
          border:1px solid #e1e1e1;
          padding:0 3px;
          margin:0 3px;
          img{
            float:left;
          }
        }
      }
    }
    #pic-large{
      position:absolute;
      top:20px;
      left:390px;
      width:400px;
      height:400px;
      border:1px solid red;
      overflow:hidden;
    }
  }
}




.good-details{
  height:1000px;
  height:auto !important;
  min-height:1000px;
  background:#fdd;
  margin-top:10px;
  .details-main{
    background:#fff;
    float:left;
    width:990px;
  }
  .details-aside{
    background:#fff;
    float:right;
    width:190px;
  }
}